<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cartravel.mapper._summary_register_active_mapper">


    <select id="_summary_register_active_searchContext" resultType="com.cartravel.entity._summary_register_active_df">
        SELECT
        "city_code" ,
        "day_new_user_count" ,
        "DAU"
        FROM
        "_summary_register_active_df"
    </select>


    <resultMap id="s4" type="com.cartravel.entity._summary_register_active_df">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result property="city_code" column="city_code" jdbcType="VARCHAR"/>
        <result property="day_new_user_count" column="day_new_user_count" jdbcType="VARCHAR"/>
        <result property="DAU" column="DAU" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>

